.customCc{
    border: 0;
    padding-left: 0;
    color: #989191;
    font-size: 16px;
}
.customBcc{
    border: 0;
    padding-right: 0;
    color: #d4d4d4;
    font-size: 16px;
}
.customCc:hover, .customBcc:hover{
    color: #d4d4d4;
}
.customCcandBcc{
border: 1px solid #d4d4d4;
border: 0;
border-bottom: 1px solid #d6d3d3;
}

.labelAdjustment{
    position: absolute;
    z-index: 7;
    top: 6px;
    left: 0px;
    height: 10%;
}

.form-label{
    color: red;
}

.input-adjustment{
    padding-left: 40px;
    border: oldlace !important;
    border-bottom: 1px solid #d6d3d3 !important;
    border-radius: 0 !important;
}